.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  font-size: 14px;
  color: #535353;
  margin: 0;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  user-select: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input {
  display: none;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border: 2px solid #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  box-sizing: border-box;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background: #1f8add;
  opacity: 0;
  transition: 0.2s;
}

.input:checked + .circle {
  border-color: #3b86dc;
}

.input:checked + .circle .dot {
  opacity: 1;
}

.text {
  font-size: 15px;
  color: #111111;
}